.strap-container {
    padding-bottom: 20px;
    padding-top: 20px
}
.list-container{
    list-style-type: none;
    border: 3px solid black;
    border-radius: 15px;
    padding-bottom: 10px;
    margin: 20px
}
.form-container{
    width: 50%;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.button-container{
    margin-left: 50px;
}
.add-to-basket-container{
    margin-top: 30px;
}
.basket-amount-item {
   background-color: blue;
   color: white;
   border-radius: 20px;
   width: 30px;
   text-align: center;
}
.basket-amount-container{
    margin-top: 10px;
}
.modal-container-text{
    text-align: center;
}
